<div class="po-wrapper">
  <po-toolbar p-title="toolbar" [p-actions]="actions" p-actions-icon="po-icon po-icon-light"
    [p-notification-actions]="notificationActions" [p-notification-number]="10" [p-profile]="profile"
    [p-profile-actions]="profileActions"></po-toolbar>

  <po-menu [p-filter]="true" [p-collapsed]="true" p-logo="https://po-ui.io/assets/graphics/po.png"
    p-logo-alt="Aguarde nova logo" [p-menus]="menus"></po-menu>

  <po-page-default p-title="AppName">
    <p> AppName page </p>
    <po-table [p-items]="[{ table: 'PO Table', angular: 'PO-UI', google: 'google', documentarion: 'Documentação' }]" > </po-table>
  </po-page-default>
</div>

<po-loading-overlay *ngIf="carregando" p-text="Carregando">
</po-loading-overlay>